<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">     
              <div class="resource">
                <label class="resource-label">Damage</label>
                  <input type="text" name="data.damageDice" value="{{data.system.damageDice}}" data-dtype="String"/>
              </div>    
              <div class="resource">
                <label class="resource-label">Hands</label>
                <input type="text" name="data.hands" value="{{data.system.hands}}" data-dtype="Number"/>
              </div>                  
              <div class="resource">
                <div class="grid grid-3col">
                  <label class="resource-label">Current</label><span></span><label class="resource-label">Max</label>
                  <input type="text" name="data.ammo.value" value="{{data.system.ammo.value}}" data-dtype="Number"/>
                  <label class="resource-label">Ammo</label>
                  <input type="text" name="data.ammo.max" value="{{data.system.ammo.max}}" data-dtype="Number"/>
                </div>   
              </div> 
              <div class="resource">
                <div class="grid grid-3col">
                  <label class="resource-label">Current</label><span></span><label class="resource-label">Max</label>
                  <input type="text" name="data.quality.value" value="{{data.system.quality.value}}" data-dtype="Number"/>
                  <label class="resource-label">Quality</label>
                  <input type="text" name="data.quality.max" value="{{data.system.quality.max}}" data-dtype="Number"/>
                </div>
              </div>
              <div class="resource">
                <label class="resource-label">Slots</label>
                  <input type="text" name="data.slots" value="{{data.system.slots}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                  <label class="resource-label">Coppers</label>
                  <input type="text" name="data.coppers" value="{{data.system.coppers}}" data-dtype="Number"/>
              </div>  
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>        
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.system.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
